/*ส่วน รายละเอียด*/

#about-sec{
    display:flex;
    flex-basis:0;
    justify-content:center;
    align-items:center;
    background:var(--black);
    color:var(--white);
    
}

.profile-pic{
    flex:1;
    img{
        width:80%;
        height:80%;
        transform:scale(0.7);
        border-radius:15px;
    }
}

.detail{
    flex:1;
    padding-right:5rem;
    display: flex;
    align-items: center;
    
}

.detail img{
    height: 1.5rem;
}

#show-skill{
    display:flex;
    gap:5px;
    flex-wrap:wrap;
}

.skill{
    width:max-content;
    display:flex;
    justify-content:center;
    gap:5px;
    align-items:center;
    padding:6px;
    border:2px solid var(--aqua);
    border-radius:15px;
}

#wordbox{

    max-width:60ch;
    position:relative;
}

#wordbox h1{
    width:max-content;
    padding-bottom:1rem;
    margin:0;
    position:relative;
    width:100%;
        
}

#wordbox h1::after{
    content:'';
    position:absolute;
    width:100%;
    height:5px;
    border-radius:20px;
    bottom:1rem;
    left:0px;
    background:var(--aqua);
}

#wordbox p{
    margin:0;
}

