/*>>>>>ส่วนแสดงผลงาน*/


#portfolio-sec{
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:80%;
    height:80%;
    display:grid;
    grid-template-columns:5fr;
    grid-template-rows:1fr 5fr;
    grid-template-areas:
        "header header"
        "display display";
    border:5px solid var(--black);
}

.container > .header{
    padding-left:2rem;
    align-items:center;
    font-size:50px;
    background:var(--black);
    color:var(--white);
    border-bottom:5px solid var(--black);
    grid-area:header;
}

.container > .display{
    display:flex;
    flex-direction:column;
    padding-left:2rem;
    padding-top:1rem;
    overflow:auto;
}

.display ul{
    display:flex;
    flex-direction:column;
    width:80%;
    margin:0;
    gap:20px;
}

.display li{
    padding:10px;
    box-shadow:2px 2px 2px 3px grey;
    border-radius:10px;
    position:relative;

}
.display h1{
    margin:0;
    text-decoration:underline;
}

.display h2{
    margin:0;
}

.display a{
    text-decoration:none;
}

.display p{
    margin:0;
}
