/*>>>>>ส่วนแสดงผลงาน*/


#portfolio-sec{
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:80%;
    height:80%;
    display:grid;
    grid-template-columns:5fr;
    grid-template-rows:1fr 5fr;
    grid-template-areas:
        "header header"
        "display display";
    border:5px solid var(--black);
}

.container .header{
    padding-left:2rem;
    align-items:center;
    font-size:50px;
    background:var(--black);
    color:var(--white);
    align-content:center;
    grid-area:header;
}

#display{
    display:flex;
    flex-direction:column;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1rem;
    overflow:auto;
    gap:1rem;
}

.project{
    padding:10px;
    box-shadow:2px 2px 2px 3px grey;
    border-radius:10px;
    position:relative;
    transition:500ms ease;
}

.project h2{
    margin:0;
}

.project a{
    text-decoration:none;
}

.project p{
    margin:0;
}

