@import url("menu_style.css");
@import url("home_style.css");
@import url("about_style.css");
@import url("portfolio_style.css");
@import url("contact_style.css");

:root{
    --white:#F2EFE7;
    --black:#222831;
    --lightaqua:#9ACBD0;
    --aqua:#48A6A7;
    --darkaque:#006A71;
    --purple:#282231;
    color:var(--black);
    box-sizing:border-box;
}

body{
    background:var(--white);
    margin:0px;
    font-family:Kanit;
}

li{
    list-style:none;
}

a{
    color:inherit;
}



section,footer{
   
    position:relative;
    height:100vh;
    overflow: hidden;
   
}







